body
{
    align-items: center;
    background: linear-gradient(rgba(85, 83, 83, 0.603), #8e9181,#6e7c7c);
}
html
{
    overflow-x: hidden;
}
a
{
    text-decoration: none;
    color: black;
}

header{
    position: sticky;
    width: 100vw;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;

}

header .logo
{
    color: black;
    font-weight: 700;
    text-decoration: none;
    font-size:  2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    
}
header .logo img
{
    width: 90px;
    border-radius: 10px 20px ;
}

header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
header ul li
{
    list-style: none;
    margin-left: 20px;
}

header ul li a
{
    text-decoration: none;
    font-size: 1.1em;
    padding: 6px 15px;
    color:black;
    border-radius: 20px;
}

header ul li a:hover,
header ul li a.active 
{
    background: #fff;

}

.carousel-inner
{
    height:70vh;
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  border-radius: 30px;
}
img.d-block.w-100 
{
    height: 100%;
    object-fit: cover;
}

.glow-on-hover {
    position: relative;
    top: 5vh;
    left: 42%;
    width: 200px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

